.edge{

 
background:  white;
margin: 0 auto;
width: 20%;

border-left: solid 1px #3D9970;
border-right: solid 1px #3D9970;
border-bottom: solid 1px #3D9970;
border-top: solid 1px #3D9970;


}

body{height: 100%; width: 100%;
background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}
 }
html{height:100%;}

h1{ color:white; text-align: left; 
	font-size: 22px;
	line-height: 40px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    vertical-align: center;
    font-family: 'Indie Flower', cursive;
    background: #2980b9;
    padding-left: 20px;
}
.list{


	width:20%;
	 
	
	padding-bottom: 0px;
	margin:0 auto;

	border-left: solid 1px #3D9970;
border-right: solid 1px #3D9970;
border-bottom: solid 1px #3D9970;
border-top: solid 1px #3D9970;

}

input{  color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	margin-left: 0px;    font-family: 'Indie Flower', cursive;  border-width: 0;
       text-align: left;line-height: 1.5; box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0); }
p{ padding-left: 20px; font-family: 'Indie Flower', cursive; margin-top: 0px;  padding-top: 0px; line-height: 1.5; text-align: left; background: #fff; 

	height: 40px;
	line-height: 40px;
	color: #666

	

	    margin-block-start: 0px;
    margin-block-end: 0px;
 }

   p:nth-of-type(2n){
    background:#f7f7f7;}


   
   

    .clicked{


    	text-decoration: line-through;
    }

    .nodisplay{ display: none;  }

    .container{
margin-bottom: 20%;
margin-top: 10%;
height: 66%;



    }

    p:hover{ margin-left: 0px; padding-left: 0px;

    }
